
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/jqueryuiStyles")
    @Styles.Render("~/bundles/bootstrapStyles")

    @Scripts.Render("~/bundles/modernizr")


    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", false)
    }

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()

        @Html.Raw(TempData["ResultMessage"])

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")



    @RenderSection("scripts", false)

</body>
</html>
